$padding: 0.75rem;

.pd-sidebar {
  padding-top: $padding !important;

  &--button {
    margin: 0 $padding / 2;
  }

  &--color-popover {
    position: absolute;
    z-index: 20;
    left: 0.6rem;
  }

  &--color-cover {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
  }
}
